.title-item
    display: flex
    flex-direction: column
    position: relative
    min-height: $bu*30
    overflow: hidden
    background-color: $co-2
    border-radius: $br
    box-shadow: $bxS

.title-item-img
    position: relative
    width: 100%
    height: 400px
    border-top-left-radius: $br
    border-top-right-radius: $br
    background-image: url('https://via.placeholder.com/1280x400')
    background-position: center center
    background-size: cover
    background-repeat: no-repeat

    @media (max-width: $sm-tb)
        background-image: url('https://via.placeholder.com/768x400')
    @media (max-width: $md-ph)
        background-image: url('https://via.placeholder.com/375x400')   

.title-item-text
    @extend h2
    position: relative
    text-align: center
    font-weight: $b
    padding: $bu/2 $bu !important

.title-item-desc
    font-size: 0.8em
    padding: $bu/2 $bu
    text-align: center